<suite name="MyntraSuite">

    <test name="Myntra-All-Tests">
        <classes>

            <class name="com.skillo.tests.HomePageTest"/>
            <class name="com.skillo.tests.ProductListingTest"/>
            <class name="com.skillo.tests.ProductDetailsTest"/>
            <class name="com.skillo.tests.CartPageTest"/>
            <class name="com.skillo.tests.LoginPageTest"/>

        </classes>
    </test>

</suite>